* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* --Start of header style-- */
.main {
  width: 100vw;
  padding: 10px;
  background-color: #000;
}

.base {
  display: flex;
  margin: 10px;
  height: 10vh;
  justify-content: space-evenly;
  width: 90vw;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  line-height: 38px;
  width: 317px;
  height: 48px;
  padding-left: 60px;
  margin-top: 9px;
}

.base-search {
  display: flex;
  border-radius: 4px;
  margin-right: 70px;
  margin-top: 3px;
  height: 56px;
}

input {
  width: 380px;
  height: 45px;
  padding-left: 7px;
  color: #969696;
  background-color: #fff;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid grey;
  border-radius: 3px 0 0 3px;
}

.base-sel {
  border: 1px solid grey;
  border-radius: 0 3px 3px 0;
  height: 43.5px;
  width: 168px;
  gap: 10px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#sel_1 {
  width: 120px;
  height: 38px;
  padding-left: 3px;
  color: #191919;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  border: none;
}

.base-img_1 {
  border-radius: 5px;
  margin-top: 3px;
  height: 30px;
  width: 30px;
}

.search {
  border-radius: 3px;
  width: 17px;
  height: 19px;
  padding: 9.5px;
  background-color: #6a1c0b;
}

.cart {
  width: 40px;
  height: 35px;
  margin-top: 7px;
  margin-left: 85px;
}

/* Cart count header icon indicator styles */
.cart-count {
  position: absolute;
  padding: 5px;
  width: 9px;
  height: 10px;
  background-color: #f00;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
}

.profile_pic {
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-left: 50px;
  border-radius: 20px;
}

.dashboard {
  background-color: #000;
  color: white;
  height: 70px;
}

.categories {
  display: flex;
  text-align: center;
}

.menu {
  margin-left: 350px;
}

/* stylelint-disable */
.categories ul li {
  display: inline-block;
  margin-right: 34px;
  margin-top: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}
/* stylelint-enable */

.categories a {
  color: white;
  text-decoration: none;
}

.contact {
  display: flex;
  gap: 10px;
  margin-left: 160px;
  margin-top: 20px;
}

.contact_pic {
  width: 25px;
  height: 25px;
}

.contact_info {
  display: flex;
  flex-direction: column;
}

.contact_info_1 {
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
}

.contact_info_2 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
}

/* -- End of header style -- */
.directory {
  display: flex;
}

.directory a {
  position: relative;
  text-decoration: none;
  color: gray;
  font-size: 10px;
  margin: 10px;
  top: 20px;
  left: 5rem;
}

.menu-links a:hover {
  text-decoration: underline;
  color: rgb(192, 93, 169);
}

.directory a:hover {
  color: rgb(192, 93, 169);
}

.directory img {
  position: absolute;
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

.directory a span {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.secure-check {
  display: flex;
  padding: 20px;
  margin-left: 5vw;
  margin-top: 25px;
}

.secure-check img {
  width: 30px;
  margin-right: 10px;
}

#deliver {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.delivery {
  background-color: #f1f1f1;
  width: 84vw;
  height: 22vh;
  border-radius: 5px;
}

.delivery-add {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.delivery-item {
  display: flex;
}

.delivery-item .check {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50px;
}

.check img {
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

.delivery-item h4 {
  margin-left: 5px;
}

.delivery-item h4,
.address p {
  font-weight: 500;
}

.underline {
  width: 84vw;
  height: 2px;
  background-color: black;
  margin-top: 3px;
}

.address {
  padding: 10px;
  margin-left: 3vw;
  line-height: 2.5;
}

.change {
  display: flex;
}

.change p {
  margin-left: 5px;
}

#pay {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.payment {
  background-color: #f1f1f1;
  width: 84vw;
  height: 22vh;
  border-radius: 5px;
}

.payment-method {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.payment-item {
  display: flex;
}

.payment-item .check {
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 50px;
}

.payment-item h4 {
  margin-left: 5px;
}

.method-radio {
  position: relative;
  padding: 10px;
  margin-left: 1vw;
  line-height: 2.5;
}

.method-radio form input {
  width: 20px;
  height: 15px;
}

#product-cart {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.cartP {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 2vw;
  margin-top: 30px;
  width: 80vw;
  height: 30vh;
}

.color-ref {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.product .color.nimbus-cloud {
  background-color: white;
}

.product .color.black-white {
  background-color: black;
}

.product .color.burgundy-white {
  background-color: brown;
}

.product .color.navy-white {
  background-color: blue;
}

.product {
  line-height: 2.2;
}

.order {
  line-height: 2.2;
}

.itemP img {
  width: 18vw;
  height: 30vh;
}

.qty {
  display: flex;
  justify-content: space-between;
}

.order-list {
  display: flex;
  justify-content: space-between;
}

.order-list h5 {
  margin-left: 20px;
}

#coupon {
  width: 84vw;
  margin-left: 7.5vw;
  margin-bottom: 30px;
}

.coupon-item {
  display: flex;
  justify-content: space-between;
}

.apply {
  display: flex;
}

.apply p {
  margin-left: 10px;
  margin-top: 23px;
  cursor: pointer;
}

.code {
  border: 1px solid black;
  padding: 10px;
}
/* stylelint-disable */
.code input {
  border: none;
  width: 10rem;
}
/* stylelint-enable */

.code img {
  width: 20px;
}

.coupon-item button {
  background-color: #6a1c0b;
  color: white;
  height: 5vh;
  width: 20vw;
  border: none;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  height: 8vh;
}

.signout {
  position: relative;
  right: 13vw;
  color: #fff;
  font-size: 15px;
  padding: 10px;
}

.help {
  position: relative;
  left: 13vw;
  color: #fff;
  font-size: 15px;
  padding: 10px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .menu-links {
    display: flex;
  }
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .directory {
    position: relative;
    align-items: flex-start;
    right: 3.5rem;
  }

  .directory a {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 11px;
  }

  .directory a span {
    font-size: 11px;
  }

  .menu-toggle {
    display: block;
    position: relative;
    bottom: 23.8vw;
    left: 35vw;
  }

  .menu-toggle img {
    height: 20px;
    width: 30px;
  }

  .menu-links {
    display: none;
  }

  .menu-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 9rem;
    right: 10vw;
    bottom: 40vh;
    background-color: black;
    z-index: 1;
  }

  .menu-links.show a {
    color: white;
  }

  .contact {
    display: none;
  }

  .main {
    width: 100vw;
    height: 20vh;
  }

  .base {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  h1 {
    font-size: 15px;
    width: auto;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .base-search {
    position: relative;
    margin-right: 20px;
    margin-top: 50px;
    bottom: 75px;
    width: 100%;
    order: 3;
  }

  input {
    width: 90%;
  }

  .base-sel {
    display: none;
  }

  .base-img_1,
  .base-img_2 {
    margin-top: 10px;
    order: 1;
  }

  .profile_pic {
    margin-left: 10rem;
    height: 20px;
    width: 25px;
    order: 1;
  }

  .cart {
    order: 1;
    position: relative;
    left: 5rem;
    bottom: 4.5rem;
    height: 22px;
    width: 30px;
  }

  .cart-count {
    left: 13rem;
    top: 20px;
  }

  .dashboard {
    height: auto;
  }

  .categories {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu {
    margin-left: 0;
  }

  .categories ul li {
    margin-right: 20px;
    margin-top: 10px;
  }

  .order,
  .product {
    line-height: 1.5;
    padding: 10px;
  }

  .product p,
  .order p {
    font-size: small;
  }

  .order h5,
  h4 {
    font-size: small;
  }

  .cartP img {
    height: 130px;
    margin-top: 50px;
  }

  .directory a img {
    margin-left: 80px;
    height: 10px;
    width: 10px;
  }

  .apply p {
    margin-bottom: 2rem;
    font-size: 10px;
  }

  .code input {
    height: 10px;
    width: 120px;
  }

  #confirmOrderBtn {
    font-size: 10px;
  }
}
