* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* --Start of header style-- */
.main {
  width: 100vw;
  padding: 10px;
  background-color: #000;
}

.base {
  display: flex;
  margin: 10px;
  height: 10vh;
  justify-content: space-evenly;
  width: 90vw;
}

/* stylelint-disable */
h1 {
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  color: #ffffff;
  line-height: 38px;
  width: 317px;
  height: 48px;
  padding-left: 60px;
  margin-top: 9px;
  font-family: 'Montserrat';
}
/* stylelint-enable */

.base-search {
  display: flex;
  border-radius: 4px;
  margin-right: 70px;
  margin-top: 3px;
  height: 56px;
}

/* stylelint-disable */
input {
  width: 380px;
  height: 45px;
  padding-left: 7px;
  color: #969696;
  background-color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid grey;
  border-radius: 3px 0 0 3px;
}
/* stylelint-enable */

.base-sel {
  border: 1px solid grey;
  border-radius: 0 3px 3px 0;
  height: 43.5px;
  width: 168px;
  gap: 10px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* stylelint-disable */
#sel_1 {
  width: 120px;
  height: 38px;
  padding-left: 3px;
  color: #191919;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 18px;
  border: none;
}
/* stylelint-enable */

.base-img_1 {
  border-radius: 5px;
  margin-top: 3px;
  height: 30px;
  width: 30px;
}

.search {
  border-radius: 3px;
  width: 17px;
  height: 19px;
  padding: 9.5px;
  background-color: #6a1c0b;
}

.cart {
  width: 40px;
  height: 35px;
  margin-top: 7px;
  margin-left: 85px;
}

.profile_pic {
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-left: 50px;
  border-radius: 20px;
}

.dashboard {
  background-color: #000;
  color: white;
  height: 70px;
}

.categories {
  display: flex;
  text-align: center;
}

.menu {
  margin-left: 350px;
}

/* stylelint-disable */
.categories ul li {
  display: inline-block;
  margin-right: 34px;
  margin-top: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}
/* stylelint-enable */

.categories a {
  color: white;
  text-decoration: none;
}

/* stylelint-disable */
.dropdown {
  display: none;
  position: relative;
  z-index: 1; /* Ensure the dropdown is above other elements */
  background-color: #f9f9f9;
  font-family: 'Montserrat';
  padding: 10px;
  width: 17vw;
  height: 60vh;
  bottom: 19.8vh;
  margin-left: 25vw;
}
/* stylelint-enable */

.dropdown h3 {
  font-size: 30px;
  padding: 10px;
  color: #000;
}

.dropdown h4 {
  font-size: 20px;
  padding: 10px;
  color: #000;
  margin-bottom: 20px;
}

.dropdown .input-group {
  margin-bottom: 10px;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  color: #191919;
}

.dropdown input {
  cursor: pointer;
  width: 16vw;
  padding: 5px;
}

.dropdown .options {
  display: none;
  list-style-type: none;
  position: absolute;
  bottom: 25vh;
  left: 20vw;
  z-index: 1;
  color: #000;
  background-color: #f9f9f9a5;
  padding: 5px 4px;
  width: 10vw;
}

.dropdown .options li {
  cursor: pointer;
  padding: 4px;
}

.dropdown .options li:hover {
  color: #f9f9f9;
  background-color: #000;
}

.dropdown button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(44, 43, 43);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 65px;
}

.contact {
  display: flex;
  gap: 10px;
  margin-left: 160px;
  margin-top: 20px;
}

.contact_pic {
  width: 25px;
  height: 25px;
}

.contact_info {
  display: flex;
  flex-direction: column;
}

/* stylelint-disable */
.contact_info_1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}
/* stylelint-enable */

/* stylelint-disable */
.contact_info_2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}
/* stylelint-enable */

/* -- End of header style -- */
.directory {
  display: flex;
}

.directory a {
  position: relative;
  text-decoration: none;
  color: gray;
  font-size: 10px;
  margin: 10px;
  top: 20px;
  left: 5rem;
}

.directory img {
  position: absolute;
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

/* section 1 begins here */

.sect1 {
  margin-top: 5vw;
  margin-left: 7vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left-container h3 {
  color: #000;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.shoe-part {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3vw;
}

.gridA img {
  border-radius: 8px;
  cursor: pointer;
  width: 32vw;
  margin-top: 0.5vw;
}

#grid2 {
  height: 7rem;
  width: 6rem;
}

#grid3 {
  height: 7rem;
  width: 6rem;
  margin-left: 1.6rem;
}

#grid4 {
  height: 7rem;
  width: 6rem;
  margin-left: 1.6rem;
}

#grid1:hover,
#grid2:hover,
#grid3:hover,
#grid4:hover {
  border: 1px solid rgb(103, 103, 196);
}

.right-container {
  margin-top: 3vw;
  margin-left: 1vw;
}

#ratingContainer {
  position: absolute;
  margin-left: 30vw;
  margin-top: 10px;
}

.star {
  height: 14px;
  width: 14px;
  cursor: pointer;
}

.star:hover,
.star.active {
  color: orange;
}

.shoe-detail {
  display: flex;
  margin-bottom: 3vw;
}

.shoe-detail h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.shoe-detail span {
  background-color: rgb(202, 241, 194);
  width: 1.9rem;
  height: 1.1rem;
  font-size: 1rem;
  margin-top: 0.5vw;
  margin-left: 0.3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.directory a span {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.grid-selection h4 {
  text-decoration: line-through;
  font-size: 1rem;
  color: rgba(155, 155, 155, 1);
  opacity: 0.7;
  position: relative;
  bottom: 3vw;
}

.grid-selection p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  bottom: 2vw;
}

.gridB {
  display: flex;
  position: relative;
  bottom: 1vw;
}

.gridB img {
  border-radius: 8px;
  width: 4.7rem;
  height: 4.7rem;
  margin: 5px;
  cursor: pointer;
}

#White:hover,
#Black:hover,
#Red:hover,
#Blue:hover {
  border: 1px solid rgb(103, 103, 196);
}

.select-size p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 0.5vw;
  position: relative;
  bottom: 0.5vw;
}

.select-size button {
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  width: 8vw;
  height: 3rem;
  margin: 0.5vw;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #fff;
  position: relative;
  bottom: 0.5vw;
}

.select-width p {
  margin-top: 0.5rem;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 0.5vw;
}

.select-width button {
  width: 9vw;
  height: 6vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5vw;
  border: 1px solid #9b9b9b;
  background-color: #fff;
}

.select-size button.selected,
.select-width button.selected {
  background-color: #000;
  color: #fff;
}

.add-cart button {
  color: white;
  width: 17rem;
  height: 3rem;
  background-color: rgba(106, 28, 11, 1);
  border-radius: 5px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  top: 2vw;
}

.love-icon {
  position: relative;
  top: 2.5vw;
  left: 13vw;
}

/* section two starts here */

.section-2 {
  position: relative;
  height: 120vh;
  width: 100vw;
}

.desp-head {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 45px;
  gap: 230px;
}

/* stylelint-disable */
.desp-head h2 {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 28px;
  font-family: 'Montserrat';
  color: #191919;
}
/* stylelint-enable */

.pp:hover h2 {
  border-bottom: 2px solid blue;
}

#contentContainer {
  position: relative;
  left: 80px;
}

.descrip-1 {
  padding-bottom: 30px;
  align-items: center;
  position: relative;
}

/* stylelint-disable */
.desp-h4 {
  position: absolute;
  font-size: 24px;
  color: #000;
  font-style: normal;
  line-height: 28px;
  font-weight: 500;
  padding-top: 20px;
  font-family: 'Montserrat';
}
/* stylelint-enable */

/* stylelint-disable */
.desp-p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-top: 47px;
  position: absolute;
  font-family: 'Montserrat';
}
/* stylelint-enable */

/* stylelint-disable */
.label {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 25px;
  line-height: 28px;
  padding-top: 65px;
  position: relative;
  font-family: 'Montserrat';
}
/* stylelint-enable */

.label h5 {
  position: absolute;
}

/* stylelint-disable */
.label-li {
  padding-left: 30px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: 'Montserrat';
  position: absolute;
}
/* stylelint-enable */

/* stylelint-disable */
.spec-label {
  padding-bottom: 60px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: 'Montserrat';
  position: absolute;
}

.specLabel {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 25px;
  line-height: 28px;
  padding-top: 10px;
  position: relative;
  font-family: 'Montserrat';
}

.specLabel h5 {
  font-size: 24px;
}

.spec-label li {
  padding: 4px;
}

.see2 {
  left: 90px;
  padding-top: 250px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  position: absolute;
  color: #344054;
  font-family: 'Inter';
}
/* stylelint-enable */

.seee {
  align-items: center;
  display: flex;
  padding-top: 200px;
  padding-left: 60px;
  position: relative;
  justify-content: center;
}

.simi-img {
  min-width: 150px;
  padding: 5px 5px;
  border: 0.1px solid rgb(128, 128, 128, 0.054);
  border-radius: 8px;
  cursor: pointer;
  margin: 2px;
  position: relative;
  top: 100px;
}

.similar-img img {
  width: 100px;
  transition: transform 1s ease-in-out; /* img:hover for this class was sent to the footer because of stylint specificity error */
}

.fa-chevron-left {
  font-size: 20px;
  position: absolute;
  color: rgba(0, 0, 0, 0.472);
  border: 1px solid rgba(128, 128, 128, 0.323);
  border-radius: 50%;
  padding: 3px;
  top: 60px;
  margin-left: -10px;
}

.des-simi {
  text-align: start;
  margin: 5px;
  position: relative;
}

/* stylelint-disable */
.tdx {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  font-family: 'Inter';
  color: #667085;
}

/* stylelint-enable */
.img-price img {
  left: 6.5%;
  right: 83%;
  top: 68.02%;
  bottom: 22.2%;
  width: 12px;
}

/* stylelint-disable */
.img-price {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 4px;
  margin-top: 3px;
  font-family: 'Montserrat';
}
/* stylelint-enable */

/* stylelint-disable */
.types {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: 'Inter';
}
/* stylelint-enable */

.light {
  color: #fdb022;
}

.fa-star-half-o {
  color: orange;
}

/* stylelint-disable */
.number {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 5px;
  position: absolute;
}
/* stylelint-enable */

.fa-chevron-right {
  font-size: 20px;
  position: absolute;
  color: rgba(0, 0, 0, 0.472);
  border: 1px solid  rgba(128, 128, 128, 0.323);
  border-radius: 50%;
  padding: 3px;
  top: 60px;
  margin-left: 90px;
}

/* section two ends here */

/* FOOTER */
.sub {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  margin-top: 40px;
  background-color: #191919;
  color: white;
  background-image: url(/resources/assets/sub.jpeg);
  opacity: 1;
}

.sub .sub-item {
  width: 40vw;
  display: flex;
}

.sub-item img {
  width: 4vw;
  height: 4vw;
}

.sub-item .sub-writeup {
  margin-top: 10px;
}

/* stylelint-disable */

.sub-item h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Inter';
}

.sub-item h6 {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 500;
}

/* stylelint-enable */

.sub .subscribe {
  width: 40vw;
  display: flex;
}

/* stylelint-disable */

.subscribe button {
  height: 47px;
  width: 258px;
  background-color: #e73C17;
  color: white;
  font-family: 'Inter';
}

/* stylelint-enable */

.foot {
  background: rgba(84, 84, 84, 1);
  color: white;
  padding: 20px;
}

.foot-items {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

/* stylelint-disable */

.foot-items h4 {
  margin-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
}

.foot-items p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
}

/* stylelint-enable */

.foot-section .icons {
  margin-top: 30px;
}
/* stylelint-disable */
.foot-section span {
  text-decoration: underline;
}
/* stlelint-enable */

.icons .fa-brands {
  padding: 10px;
  color: white;
}

.foot .foot-section {
  width: 20vw;
}

.foot-section .location,
.phone {
  display: flex;
  margin-top: 20px;
}

.location p,
.phone p {
  margin-left: 15px;
}

.location img,
.phone img {
  width: 30px;
  height: 30px;
}

.location .fa-sharp,
.phone .fa-regular {
  color: white;
}

.copyright {
  text-align: center;
  margin-top: 40px;
}

.copyright p {
  font-size: small;
}

.dropdown button:hover {
  background-color: #45a049;
}

.similar-img img:hover {
  transform: scale(2.2);
}

/* header toggle button */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .menu-links {
    display: flex;
  }
}

/* media queries for mobile responsiveness */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  
  /* header responsiveness */
  .menu-toggle {
    display: block;
    position: relative;
    margin-left: 50vw;
    bottom: 10.5vh;
  }

  .menu-toggle img {
    height: 20px;
    width: 30px;
  }

  .menu-links {
    display: none;
  }

  .menu-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 9rem;
    right: 16vw;
    bottom: 71vh;
    background-color: black;
    z-index: 1;
  }

  .menu-links.show a {
    color: white;
  }

  .contact {
    display: none;
  }

  .dropdown {
    position: absolute;
    width: 50vw;
    height: 50vh;
    margin-bottom: 10vh;
  }

  .dropdown .input-group {
    font-size: 7vw;
  }

  .dropdown input {
    width: 40vw;
  }

  .main {
    width: 100vw;
  }
  
  .base {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  h1 {
    font-size: 15px;
    width: auto;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .base-search {
    margin-right: 20px;
    margin-bottom: 40px;
    width: 100%;
    order: 3;
  }

  input {
    width: 90%;
  }

  .base-sel {
    display: none;
  }

  .base-img_1,
  .base-img_2 {
    margin-top: 10px;
    order: 1;
  }

  .profile_pic {
    margin-left: 9rem;
    height: 20px;
    width: 25px;
    order: 1;
  }

  .cart {
    order: 1;
    position: relative;
    right: 12rem;
    bottom: 0.7rem;
    height: 22px;
    width: 30px;
  }

  .dashboard {
    height: auto;
  }

  .categories {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu {
    margin-left: 0;
  }

  .categories ul li {
    margin-right: 20px;
    margin-top: 10px;
  }

  .contact {
    margin-left: 0;
    margin-bottom: 10px;
    justify-content: center;
  }

  .contact_info_1,
  .contact_info_2 {
    font-size: 10px;
    line-height: 14px;
  }

  /* section-1 */
  .directory {
    position: relative;
    align-items: flex-start;
    right: 3.5rem;
  }
    
  .directory a {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 14px;
  }

  .directory a span {
    font-size: 14px;
  }

  .directory a img {
    margin-left: 80px;
    height: 10px;
    width: 10px;
  }

  .sect1 {
    margin-top: 5vw;
    margin-bottom: 40vw;
    margin-left: 6vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .left-container {
    margin-left: 20px;
  }

  .left-container h3 {
    font-size: 25px;
    margin-top: 14px;
  }
  
  .shoe-part {
    margin-left: 0;
    justify-content: center;
  }
  
  .gridA img {
    width: 100%;
    width: 270px;
    height: auto;
    margin-top: 20px;
  }
  
  #grid2,
  #grid3,
  #grid4 {
    margin-left: 5px;
    margin-top: 10px;
    width: 70px;
    height: 60px;
  }
  
  .right-container {
    position: relative;
    right: 1rem;
    margin-bottom: 170px;
    padding: 5px;
    text-align: center;
  }
  
  #ratingContainer {
    margin-top: 50px;
    margin-left: 90px;
    text-align: center;
  }

  .grid-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .grid-selection h4,
  .grid-selection p {
    margin-left: 0;
  }
  
  .shoe-detail {
    margin-bottom: 20px;
  }
  
  .shoe-detail h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .shoe-detail span {
    margin-top: 5px;
    margin-top: 17px;
  }
  
  .gridB img {
    width: 35px;
    height: 50px;
    margin: 5px;
  }
  
  .select-size p {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 5px;
  }
  
  .select-size button {
    width: 50px;
    height: 30px;
    margin: 5px;
    font-size: 12px;
  }
  
  .select-width p {
    font-size: 14px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .select-width button {
    width: 60px;
    height: 30px;
    margin: 5px;
    font-size: 12px;
  }
  
  .add-cart button {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .love-icon {
    top: 0;
    left: 0;
    margin-top: 10px;
  }

  /* section-2 */
  .section-2 {
    height: auto;
    margin-top: 50px;
    padding-bottom: 20px;
    width: 100vw;
  }

  .desp-head {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }

  .pp {
    width: 100%;
    text-align: left;
  }

  .desp-head h2 {
    position: static;
    font-size: 18px;
    line-height: 22px;
    padding: 5px 0;
  }

  #contentContainer {
    left: 19px;
    margin-bottom: 170px;
    max-width: 80vw;
  }

  .descrip-1 {
    padding-bottom: 20px;
  }

  .desp-h4 {
    position: static;
    font-size: 18px;
    padding-top: 10px;
  }

  .desp-p {
    position: static;
    font-size: 14px;
    line-height: 18px;
    padding-top: 20px;
  }

  .label {
    padding-bottom: 20px;
    padding-top: 40px;
  }

  .label h5 {
    position: static;
  }

  .label-li {
    padding-left: 0;
  }

  .spec-label {
    position: relative;
  }

  .see2 {
    left: 8px;
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 120px;
  }

  .seee {
    position: relative;
    width: 70vw;
    overflow-x: auto;
    padding-bottom: 20px;
    justify-content: flex-start;
  }

  .simi-img {
    min-width: unset;
    width: auto;
    margin: 2px;
    top: 0;
    flex: 0 0 auto;
  }

  
}
